<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HALOCELauncher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HALOCELauncher.My.MySettings>
            <setting name="FontType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GameDirCE" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenshotC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="devC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GammaC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoystickC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SafeModeC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameDirPC" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDefect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MultiLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldGameDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OldIPAdress" serializeAs="String">
                <value />
            </setting>
        </HALOCELauncher.My.MySettings>
    </userSettings>
</configuration>